@font-face {
  font-family: Barker;
  src: url("../fonts/Bakervville_Regular/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: EmithaSW;
  src: url("../fonts/emitha-script-Font/Emitha-Swashes.ttf");
}
@font-face {
  font-family: EmithaSC;
  src: url("../fonts/emitha-script-Font/Emitha-Script.ttf");
}
@font-face {
  font-family: Edition;
  src: url("../fonts/Edition-Regular/EDITION_.TTF");
}

/* Estilo personalizado para el menú */
.navbar-custom {
  background-color: #ffffff;
  /* Fondo blanco */
  padding: 15px 0;
  /* Espaciado interno */
}

.navbar-custom .navbar-brand {
  margin-right: 15px;
  /* Margen derecho para separar el logo del texto */
}

.navbar-custom .navbar-nav .nav-link {
  font-family: Barker;
  font-size: 20px;
  color: #103f60;
  /* Color del texto del enlace */
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #007bff;
  /* Color del texto del enlace al pasar el mouse */
}

/* Estilo para el carrusel */
.carousel-item img {
  width: 100%;
  height: 800px;
  /* Altura del carrusel */
  object-fit: cover;
}

.carousel-caption {
  bottom: 0;
  border-radius: 10px;
  /* Bordes redondeados */
  padding: 10px;
  /* Espaciado interno */
  width: 70%;
  /* Ancho del cuadro de leyenda */
  left: 15%;
  /* Centrado horizontalmente */
}

.oval-button {
  border-radius: 20px;
  /* Bordes ovalados */
  font-size: 20px;
  /* Tamaño de fuente del botón */
  padding: 15px 25px;
  /* Espaciado interno del botón */
  position: absolute;
  /* Posición absoluta para que el botón pueda estar en la esquina inferior derecha */
  bottom: 10px;
  /* Ajusta la posición vertical del botón */
  right: 10px;
  /* Ajusta la posición horizontal del botón */
  color: #103f60;
  background-color: #E0BD62;
  border-color: #E0BD62;
}

.oval-button:hover {
  color: #fff;
  background-color: #103f60;
  border-color: #103f60;
}


/* Estilo para la sección inferior */
.menta-section {
  background-color: #ADE4E1;
  /* Color menta */
  color: #ffffff;
  /* Color del texto */
  text-align: center;
  /* Alineación del texto */
  padding: 50px 0;
  /* Espaciado interno */
}
.full-width-text {
  background-color: #ADE4E1; 
  text-align: center; 
  padding: 50px 0; 
}

.se-parte {
  font-size: 8vw;
  font-family: EmithaSC;
  color: #103f60;
}

.elite {
  font-size:8vw;
  font-family: Edition;
  color: #103f60;
}

.responsive-div {
  padding: 50px 0;
}

.container-fluid img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}
.razones{
  font-family: Barker;
  color: #103f60;
}
.section-container {
  padding: 50px 0; 
}
.razones {
  margin-top: 80px; 
}
.letraEmirtha{
  font-family: EmithaSC;
  color: #103f60;
  font-size:7vw;
}